.fixedHeader {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

@media (max-width: 950px) {
  .desktopHeader {
    display: none;
  }
}

@media (min-width: 950px) {
  .mobileHeader {
    display: none;
  }
}
